<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/menuNavegacion.css" rel="stylesheet"/>
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-2 col-sm-4 siderbar1">
                <div class="nav-side-menu">
                    <div class="brand">
                        <img src="~/Content/img/Logo.png" class="img" />
                    </div>
                    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                    <div class="menu-list">

                        <ul id="menu-content" class="menu-content collapse out">
                            <li>
                                <a href="#">
                                    <i class="fa fa-home fa-lg"></i> Inicio
                                </a>
                            </li>

                            <li data-toggle="collapse" data-target="#gestion" class="collapsed active">
                                <a href="#"><i class="fa fa-cog fa-lg"></i> Gestion <span class="arrow"></span></a>

                                <ul class="sub-menu collapse" id="gestion">
                                    <li><a href="#">Usuarios</a></li>
                                    <li><a href="#">Proveedores</a></li>
                                    <li><a href="#">Tipo Movimientos</a></li>
                                    <li><a href="#">Categorias</a></li>
                                    <li><a href="#">Cuentas</a></li>
                                    <li><a href="#">Moneda</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-money fa-lg"></i> Presupuesto
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-building fa-lg"></i> Movimientos
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-times-circle fa-lg"></i> Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

             <div class="col-md-10 col-sm-8 main-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Aplicacion de Finanzas Personales</p>
                </footer>

            </div>



        </div>
   
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
